@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'gillsans-light';
    src: url('../asset/GillSans-Light.ttf') format('truetype');
}

body{

  font-family: 'gillsans-light';
}

span{

  top:500px;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:60px;
    background-color:#a7a7a7;
}

h1{
  position: absolute;
  top: -12px;
  color: white;
  left: 44%;
}

#logoB{
  left: 2%;
}

#reseaux{
  left: 93%;
}

.logo{
  position: absolute;
  top: 15px;
}

body{
  background-image: url(../asset/background.jpg);
  background-size: cover; /* Resize the background image to cover the entire container */
}

form{
  position: relative;
  margin-top: 20%;
  margin-left: 32%;
  margin-right: 32%;
  background-color: white;
  background-color: rgba(255, 255, 255,0.7);
  padding-bottom: 5%;
}

input{
  margin-top: 40px;
  background-color:#a7a7a7;
  border: 0px;
}

.input23{
  margin-top: 20px;
}

.inputL{
  padding: 9px;
  padding-right: 50px;
  margin-left: 40px;
}

.inputR{
  position: absolute;
  top: 0px;
  left: 290px;
  padding: 9px;
  padding-right: 50px;
  padding-bottom: 116px;

}

button{
  position: absolute;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  background-color:#a7a7a7;
  border: 0px;
  color: white;
  top: 175px;
  right: 42px;
}

::placeholder{
  color: white;
}
